{{ partial "header" . }}

{{ partial "header/header" . }}

{{ if .Content }}
<div class='entry'>
  {{ partial "entry/content" . }}
</div>
{{ end }}

<div class='container list-container'>
  {{ range ( where .Site.RegularPages "Type" "eq" "post" ).GroupByDate "2006" }}
  <div class='archive-group sep-after'>
    <h3>{{ .Key }}</h3>
    <ul class='list'>
      {{ range  .Pages }}
        {{ .Render "li.archive" }}
      {{ end }}
    </ul>
  </div>
  {{ end }}
</div>

{{ partial "footer" . }}
