<link rel='icon' href='{{ ( or .Site.Params.assets.favicon "favicon.ico" ) | relURL }}'>
<link rel='stylesheet' href='{{ print "assets/css/" .Site.Data.assets.main.css | relURL  }}'>
<link rel='stylesheet' href='{{ relURL "assets/css/t.css" }}'>

{{- if or ( .Site.Params.settings.rtl ) ( eq .Site.Language.LanguageDirection "rtl" ) -}}
  <link rel='stylesheet' href='{{ print "assets/css/" .Site.Data.assets.rtl.css | relURL  }}'>
{{- end -}}

{{- range .Site.Params.assets.customCSS -}}
  <link rel='stylesheet' href='{{ . | relURL }}'>
{{- end -}}

{{- partial "head/css" . -}}

{{- partial "head/analytics" . -}}
