blockquote {
	font-size: 100% !important;
}
.tumblr_blog {
	font-style: normal;
}
.photos img {
	display: block;
	margin: 1em 0em;
}
video {
	max-width: 100%;
}
.untagged-note {
	font-style: italic;
}