{{ partial "header" . }}

{{ partial "header/header" . }}

{{ if .Content }}
<div class='entry'>
  {{ partial "entry/content" . }}
</div>
{{ end }}

<div class='container list-container'>
  <ul class='list'>
    {{- $paginator := .Paginate (where .Pages "Section" "post") -}}
    {{ range $paginator.Pages }}
      {{ .Render "li" }}
    {{ end }}
  </ul>

  {{ partial "nav/pagination" . }}
</div>

{{ partial "footer" . }}
