{{ if not ( eq .Section "page" ) }}
<footer class='entry-footer'>
  <div class='container sep-after'>
  {{- if and ( eq .Site.Params.settings.showLastmod true ) ( not ( eq .Lastmod .Date ) ) -}}
    {{- $dateFormat := ( .Site.Params.settings.dateFormat | default "2006, Jan 02" ) -}}
    <div class='last-updated'>
      {{- partial "svg/icons" "edit" -}}
      <span class='screen-reader-text'>{{ i18n "lastUpdated" }}: </span>
      <time class='entry-date' datetime='{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}'>
        {{- .Lastmod.Format $dateFormat -}}
      </time>
    </div>
  {{- end -}}

  {{ range $taxonomy, $pages := .Site.Taxonomies }}
    {{- if not ( eq $taxonomy "authors" ) -}}
      {{- if ( index $.Params $taxonomy ) -}}
        {{- $.Scratch.Set "taxonomy" $taxonomy -}}
        {{- partial "entry/taxonomy-list" $ -}}
      {{- else -}}
        {{- if eq $taxonomy "tags" -}}
          <div class="untagged-note">No tags</div>
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{ end }}
  </div>
</footer>
{{ end }}
