<header class='header entry-header'>
  <div class='container sep-after'>
    <div class='header-info'>
      <h2 class='title'>
        <a href="{{ .Permalink }}">{{- .Title -}}</a>
      </h2>
      {{ partial "header/description" . }}
    </div>
    {{ partial "entry/meta" . }}
  </div>
</header>
